<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345155801016-h3v5k5qdc9936usk01uq8apmrtguiao9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345155801016-h3v5k5qdc9936usk01uq8apmrtguiao9</string>
	<key>API_KEY</key>
	<string>AIzaSyCqs2NE-fQ7eTh5zz3_4pLms1Z4wR03KuM</string>
	<key>GCM_SENDER_ID</key>
	<string>345155801016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.triviaquiz</string>
	<key>PROJECT_ID</key>
	<string>trivia-quiz-37cde</string>
	<key>STORAGE_BUCKET</key>
	<string>trivia-quiz-37cde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345155801016:ios:4c4beee42ca98b0c</string>
	<key>DATABASE_URL</key>
	<string>https://trivia-quiz-37cde.firebaseio.com</string>
</dict>
</plist>